@use 'src/styles/vars'; 

.overlay-filterMenu{
    position : fixed;
    z-index: 10000; 
    inset:0; 
    background-color: rgba(0,0,0,0.75);
    display : flex; 
}

.filterMenu{
    border-top: 2.5px solid vars.$primary-color; 
    position : relative; 
    background-color: vars.$light-color;
    width: fit-content; 
    display: flex; 
    flex-direction : column; 
    padding: vars.$gutter*5; 
    overflow-y: scroll;

    &_close-button{
        position : absolute;
        top : 15px;
        right: 20px;  
        border: none;
        font-size: vars.$gutter*1.5;
        font-weight: 600;
        border-radius : 20px;  
        background-color: vars.$purple-color;
        color: vars.$light-color;  
    }

    &_close-button:hover{
        background-color: vars.$primary-color;
    }

    form{
        display: flex; 
        flex-direction: column; 
    }

    .ui.submit.button{
        margin : 0 auto; 
    }

    &_category{

        margin-bottom: vars.$gutter*2; 

        &--favorite{
            display: flex; 

            i.icon.heart:before {
                color : vars.$primary-color
            }

            h2:hover{
                cursor: pointer;  
                color: vars.$purple-color;
                font-weight: 600;
            }
        }

        &_title{
            text-transform: uppercase;
            font-weight: 600; 
            color : vars.$primary-color; 
            margin-bottom: vars.$gutter; 
        }

        &_checkbox{
            input{
                margin-bottom: vars.$gutter; 
            }
            label{
                margin-left: vars.$gutter*0.5; 
            }
        }

        &_checkbox:hover{
            color: vars.$purple-color;
            font-weight: 600;
        }
    }

    &_category:last-of-type{
        margin-bottom: vars.$gutter; 
    }

    &_button-reset{
        border: none; 
        margin-top: vars.$gutter; 
        background-color: transparent;
        font-style: italic;
    }

    &_button-reset:hover{
        color : vars.$primary-color;
    }
}
