@use 'src/styles/vars'; 

.ui.three.column.stackable.grid{
    margin-top: vars.$gutter*3;
    display: flex; 
    flex-direction : row; 
    justify-content: center;
    width: 95%;
    flex-wrap: wrap; 
    margin: 0 auto; 
}

.ui.three.column.stackable.grid >*{
    flex-basis : 50vh; 
}

@media screen and (min-width: 384px) {
    .ui.three.column.stackable.grid>*{
        flex-basis : 35vh; 
    }
}

@media screen and (min-width: 760px) {
    .ui.three.column.stackable.grid>*{
        flex-basis : 30vh; 
    }
}

@media screen and (min-width: 927px) {
    .ui.three.column.stackable.grid>*{
        flex-basis : 35vh; 
    }
}

@media screen and (min-width: 1044px) {
    .ui.three.column.stackable.grid{
        width : 80%; 
        margin: 0 auto; 
    }
}

@media screen and (min-width: 1284px) {
    .ui.three.column.stackable.grid{
        width : 70%; 
        margin: 0 auto; 
    }
}

@media screen and (min-width: 1467px) {
    .ui.three.column.stackable.grid{
        width : 60%; 
        margin: 0 auto; 
    }
}

@media screen and (min-width: 1712px) {
    .ui.three.column.stackable.grid{
        width : 50%; 
        margin: 0 auto; 
    }
}