@use 'src/styles/vars';

.overlay{
    position : fixed;
    z-index: 10000; 
    inset:0; 
    background-color: rgba(0,0,0,0.9);
    display : flex; //pour centrer la modal
    justify-content: center; 
    align-items: center;
}

.modal-message{
    position: fixed;  
    opacity: 1;    
    width: 80%; 
    padding: vars.$gutter*2;
    color : vars.$light-color; 
    font-weight : bold; 
    text-align : center; 
    border-radius : 10px; 
    box-shadow : 0 0.125rem 0.25rem rgba(0,0,0,0.25);  
    user-select: none; 

    &--sucess{
        background-color: vars.$green;
        border: solid 2px green; 
    }

    &--error{
        background-color: vars.$primary-color; 
        border: solid 2px vars.$primary-color; 
    }
}

