@use 'src/styles/vars'; 

.header{
    display: flex; 
    width: 100%; 
    justify-content: space-between;
    align-items: center; 
    padding : vars.$gutter vars.$gutter*3; 
    background-color: rgba(247,244,241,0.57); 
    
    &_logo{
        font-size: vars.$gutter*1.56;
        color: vars.$primary-color; 
        & span{
            font-weight:bold;
        }
    }
    &_logo:hover{
        color: vars.$primary-color; 
    }
        
    &_icons{
        color : vars.$primary-color; 
    }   

}

.navLink--desktop{
    display : none;
}


@media screen and (min-width: 900px) {

    .header_icons{
        display: none; 
    }


    .navLink--desktop{

        display : flex;
        align-items: baseline;

        .navLink_items{
            display : flex;
            align-items: center;

            .active{
                font-weight: bold; 
            }

            .navLink_item{
                color : vars.$primary-color; 
                font-size: vars.$gutter*1.25; 
                padding : 0 vars.$gutter; 
            }
            
            .navLink_item:hover {
                font-weight: bold; 
                transition-duration: 2ms;
            }
        }        
    }

    .header_button{
        border: none; 
        border-radius : 10px; 
        padding : vars.$gutter*0.5;
        width: fit-content; 
        color: vars.$light-color; 
        background-color: vars.$purple-color;
    }
}


// @media screen and (min-width: 930px) {
//     .navLink--desktop .navLink_items{
//         .navLink_item{
//             font-size: vars.$gutter*1.4; 
//             padding : 0 vars.$gutter*1.5;
//         }
//     }

// }

