@use 'src/styles/vars'; 

.itemList{
    margin-top: vars.$gutter*3;
    display: flex; 
    flex-direction : row; 
    justify-content: center;
    width: 95%;
    flex-wrap: wrap; 
    margin: 0 auto; 

    .TagList{
        margin: vars.$gutter*2 auto vars.$gutter*2 auto; 
    }
}

.itemList>*{
    flex-basis : 50vh; 
}

@media screen and (min-width: 384px) {
    .itemList>*{
        flex-basis : 35vh; 
    }
}

@media screen and (min-width: 1018px) {
    .itemList{
        width : 80%; 
        margin: 0 auto; 
    }
}

@media screen and (min-width: 1210px) {
    .itemList{
        width : 70%; 
        margin: 0 auto; 
    }
}

@media screen and (min-width: 1384px) {
    .itemList{
        width : 55%; 
        margin: 0 auto; 
    }
}

@media screen and (min-width: 1384px) {
    .itemList{
        width : 55%; 
        margin: 0 auto; 
    }
}

@media screen and (min-width: 1751px) {
    .itemList{
        width : 50%; 
        margin: 0 auto; 
    }
}