@use 'src/styles/vars'; 

.filterTags{
    display: flex; 
    flex-direction : row-reverse; 
    align-items: center;
    justify-content: center;
    margin: 0 auto; 

    .ui.submit{
        padding: vars.$gutter*0.5 vars.$gutter;
        margin-right: vars.$gutter*2; 
        background-color: vars.$purple-color;
        color: vars.$light-color;
        font-size: vars.$gutter*1.2;
        font-weight: 700;
    }
}