@use 'src/styles/vars'; 

.card{
    position: relative; 
    display: flex; 
    flex-direction: column;
    align-items: center; 
    justify-content: space-around; 
    margin : vars.$gutter*5 auto vars.$gutter*3 auto; 
    min-height: 50vh; 
    max-width: 80%; 
    border: 0.3px solid vars.$gray-light;
    border-radius: 25px; 
    padding: vars.$gutter*3 vars.$gutter vars.$gutter*2 vars.$gutter; 
    background-color: vars.$light-color; 

    &_image{
        position: absolute; 
        top: -50px; 
        display: flex; 
        width: 100%; 
        justify-content: center;
        align-items: flex-end;
    }

    img{ 
        width: vars.$gutter*8; 
    }

    &_header{
        display: flex; 
        flex-direction: column; 
        align-items: center; 
        margin-top: vars.$gutter*2.5; 

        &_title{
            font-weight: 600; 
            font-size: vars.$gutter*1.3; 
            color: vars.$primary-color; 
            margin-bottom: vars.$gutter*0.8; 
        }

        &_subtitle{
            color: vars.$gray; 
            font-size: vars.$gutter*1.3; 
            font-style: italic;
        }

        &_content{
            display: flex;
            align-items: center; 
        }

        &_flag:nth-child(2n){
            margin: 0 vars.$gutter; 
        }
    }

    &_technologies{
        display: flex; 
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap; 
        width:fit-content; 
        margin: vars.$gutter 0; 
        .tag{
            font-size: vars.$gutter;
        }
    }

    .tag>*{
        flex-basis: 20px; 
    }

    &_tag-project{
        font-size: vars.$gutter*1.2; 
        margin-top: vars.$gutter; 
        font-weight : 600;
        &--open{
            color : vars.$green; 
        }
        &--full{
            color : vars.$red; 
        }
    }

    &_description{
        max-width: 200px;
        height: 100px; 
        word-wrap: break-word; 
        overflow: hidden;
        text-overflow: ellipsis; 
        color : vars.$gray; 
        margin : 0 vars.$gutter*0.4; 
        text-align: center;
    }

    &_extra-content{
        margin-top : vars.$gutter*2;
        width: 100%; 
        display: flex; 
        align-items: baseline; 
        justify-content: center;

        &_icons{
            margin-right: vars.$gutter*1.5; 
            color : vars.$primary-color;
            
            .envelope.icon{
                margin-right: vars.$gutter*1.5
            }
        }

        &_link{
            color: vars.$purple-color;
            font-style: italic;  
        }

        &_link:hover{
            font-weight: 600; 
            color: vars.$purple-color;
        }
    }
}

// @media screen and (min-width: 384px) {
//     .itemList>*{
//         flex-basis : 35vh; 
//     }
// }

