@use 'src/styles/vars'; 


.searchBar{

    &_title{
        text-align: center;
        font-size: vars.$gutter*2; 
        font-weight: 600;  
        color: vars.$primary-color; 
    }

    &_container{
        width: 100%; 
        margin: vars.$gutter*5 auto 0 auto; ; 
    }
}

.ui.form .ui.input input{
    border-radius: 25px;
    width: 80%; 
    height: vars.$gutter*3; 
    margin: vars.$gutter*2.5 auto; 
}

@media screen and (min-width: 600px) {
    .searchBar{

        &_title{
            font-size: vars.$gutter*2; 
        }
    }
}


