$primary-color: rgba(227, 46, 69, 1); 
$light-color: rgba(255, 255, 255, 1);
$light-transparent: rgba(255, 255, 255, 0.7);
$purple-color: rgba(81, 35, 212, 1);  
$gray-light: rgba(219, 219, 219, 1); 
$gray : rgba(103, 103, 103, 1); 
$green : rgb(52, 158, 52); 
$red :rgb(241, 8, 8); 
$brown: #C9C9C9; 

$gutter: 0.8rem;

$font-Montserrat: 'Montserrat', sans-serif;



