@use 'src/styles/vars'; 

.datasPage{
    background-image : url('../../../public/image/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 2rem;
    min-height: 100vh;

    .ui.form {
        width: 80%; 
        margin: 0 auto; 
    }

    .filterTags{
        display: none; 
    }

    &_button{
        display: flex; 
        margin : vars.$gutter*2 auto vars.$gutter auto; 
        justify-content: center;
    }
}

@media screen and (min-width: 1360px) {
    .datasPage{
        .ui.form {
            width: 70%; 
            margin: 0 auto; 
        }
    }
}

